GOOGLE_CLIENT_ID=YOUR_WEB_CLIENT_ID.apps.googleusercontent.com
GAS_URL=https://script.google.com/macros/s/YOUR_DEPLOYMENT_ID/exec
GAS_SHARED_SECRET=PASTE_A_RANDOM_SECRET_OF_AT_LEAST_32_CHARACTERS
SESSION_SECRET=PASTE_A_DIFFERENT_RANDOM_SECRET_OF_AT_LEAST_32_CHARACTERS
PUBLIC_ORIGIN=http://localhost:3000
